section#personas{
    margin-bottom: 54px;
    background: #585858;
}

form#create-form-personas{
    width: 50%;
    margin-top: -8%;
}

table#personas{
    width: 40%;
    background-color: white
}
.invisible {
    visibility: hidden;
  }

  form#create-form-hoteles{
    width: 50%;
    margin-top: -8%;
}
section#hoteles{
    margin-bottom: 54px;
    background:#585858;
}

table#hoteles{
    width: 40%;
    background-color: white
}
section#reservacion{
    background:#585858;
    margin-bottom: 54px;
}
form#create-form-reservacion{
    width: 50%;
    margin-top: -8%;
}
table#reservacion{
    width: 40%;
    background-color: white
    
    
}




